.valide{
    border: 3px solid;
    border-color: chartreuse;
}

.pas-valide {
    border: 3px solid;
    border-color: red ;
}

.invisible {
    color : red;
}

.tvalide{
    color : chartreuse;
}

.tpas-valide{
    color : red;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}
.container {
    text-align: center;
    position: relative;
}
.icon {
    position: fixed; /* Toujours visible même en cas de défilement */
    top: 20px; /* Distance du haut */
    right: 20px; /* Distance de la droite */
    z-index: 1000; /* Assurez-vous que l'icône reste au-dessus du contenu */
}
.icon img {
    width: 50px;
    height: 50px;
}
.welcome-message h1 {
    color: #333;
    font-size: 2.5em;
    margin: 0;
}
